@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
    </p>


@if (!Model.Any())
{
    <p>No customers to list.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(c.Name, "Edit", "Customers", new { id = c.Id }, null)
                    </td>
                    <td>
                        @c.MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
